


body {
	background-color: #FFFFF;
	font-size: 100%;
	margin: 0;
	padding: 0;
	
}


#tabContainer {
  background-color: lightgrey;
  

}

#tabContainer a { 
  display: inline-block;
  width: 17%;
  background: lightgrey;
  color: black;
  padding-left: .25em;
  padding-right: .25em;
  padding: 1em;
  text-align: left;
  text-decoration: none;

}

#tabContainer a:hover{
}

#illustration {
	float: left;
}

#title {
	color: white;
	font-size: 1.5em;
	font-family: 'Lobster', cursive;
	padding: .15em;
	padding-left: 2em;
	background-image: url("world.jpg")
	
}



#mainColumn {
a	
}


#content {
	float: left;
	width: 75%;
	padding: 1em;
	color: black;
	
	border-radius: 5%;
	
}
#illustration {
	text-align: center;
	float: right;
}




