body {
	background-color: #FFFFF;
	font-size: 100%;
	margin: 0;
	padding: 0;
	
}


#tabContainer {
  background-color: lightgrey;
  

}

#tabContainer a { 
  display: inline-block;
  width: 17%;
  background: lightgrey;
  color: black;
  padding-left: .25em;
  padding-right: .25em;
  padding: 1em;
  text-align: left;
  text-decoration: none;
  font-family: 'Alegreya', serif;

}
#content{
	width: 45%;
	float: left;
	margin: 2em;
	margin-left: 3em;
	font-family: 'Alegreya', serif;
}


#tabContainer a:hover{
}

#illustration {
	float: left;
	margin: 2em;
	padding: 1em;
	margin-left: 3em;
}

#title {
	color: white;
	font-size: 1.5em;
	font-family: 'Lobster', cursive;
	padding: .15em;
	padding-left: 2em;
	background: #1B3738;
	
	
}

#blogtitle{ 
	color: white;
	font-size: 2em;
	font-family: 'Lobster', cursive;
	padding: .15em;
	padding-left: 2em;
	background: #1B3738;
}



#blog {
	margin: 2em; 
	width: 30%;
	text-align: center;
	float: left;
	
	
}
	


#blogimage {
	float: left;
	padding: 1em;
	margin-left: 2em;
	
	
}


#mainColumn {
a	
}





#illustration {
	float: left;
}


#aboutmetitle {
	color: white;
	font-size: 2em;
	font-family: 'Lobster', cursive;
	padding: .15em;
	padding-left: 2em;
	background: #1B3738;
}

#aboutme {
	float: left;
	width: 45%;
	padding: 1em;
	margin: 2em;
	margin-left: 3em;
	color: black;
	border-radius: 5%;
	font-family: 'Alegreya', serif;
	
	
	
}

#resumetitle {
	color: white;
	font-size: 2em;
	font-family: 'Lobster', cursive;
	padding: .15em;
	padding-left: 2em;
	background: #1B3738;
}

#resumecontent {
	margin: 2em;
	text-align: center;
	font-family: 'Alegreya', serif;
}


#picofme {
	float: left; 
	margin: 1em;
	padding: 2em;
	margin-left: 3em;

}


#contacttitle {
	color: white;
	font-size: 2em;
	font-family: 'Lobster', cursive;
	padding: .15em;
	padding-left: 2em;
	background: #1B3738;
	
}
	
#contactinfo {
	text-align: center;
	margin: 3em;
	color: black;
	font-family: 'Alegreya', serif;
}

	
